@import url('https://fonts.googleapis.com/css?family=Open+Sans');
html, body {
  font-family: "Open Sans";
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}
.tab {
  /*margin-left: 10px;*/
  font-size: 25px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
.tab:hover {
  background-color: #80DEEA;
}
.home {
  margin-left: 25px;
}
.active {
  padding-bottom: 8px;
  border-bottom: 4px solid #E0F7FA;
}
.header {
  margin-bottom: 10px;
  background-color: #00BCD4;
  width: 100%;
  font-size: 30px;
  color: white;
  padding-top: 5px;
  padding-bottom: 25px;
  padding-left: 25px;
  height: 25px;
}
.material-icons {
  vertical-align: middle;
  display: inline-block;
}
.pagename {
  font-size: 35px;
}
.page {
  margin-left: 25px;
}
pre {
  font-family: "Open Sans";
}
